<a href="https://colab.research.google.com/github/ismael-almazan/Programaci-n-para-anal-tica-descriptiva-y-predictiva/blob/main/Practicas12%2C13%2C14%2C15%2C16_263177.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Cargar Datos**

In [8]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Práctica 11: Carga de Datos

In [15]:
#Cargar los datos en un dataframe omitiendo la ultima fila
df = pd.read_csv('/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv').iloc[:-1]

#print(df.head())
print(df.columns)

#Comprobar que no se cargo la ultima fila
df.tail(3)

#Imprimir numero de filas y columnas
print("Filas y columnas:", df.shape)

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')
Filas y columnas: (84548, 22)

/tmp/ipython-input-1314465955.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv').iloc[:-1]

# Práctica 12: Agregar una columna

In [21]:
#Comprobar nombres de las columnas
df.columns

#Renombrar la primer columna por INDEX MIIAD
df.rename(columns={'Unnamed: 0':'INDEX MIIAD'}, inplace=True)
df.columns

Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

# Práctica 13: Normalización de los nombres de la columna.

In [32]:
#Normalizar los nombres de la columnas a minisculas y reemplazar los espacios pon gion bajo
df.columns = df.columns.str.lower().str.replace(" ", "_")

#Imprimir los nombres de las columnas con los nombres normalizados
print(df.columns)

#df.head(5)

Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

# Práctica 14: Errores en los Tipos de Datos

In [36]:
#Imprimir el tipo de dato de cada columna
df.dtypes

#SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) no son tipo flotante, estan definidos como objects.

#Convertir a flotante
df['sale_price'] = pd.to_numeric(df['sale_price'], errors='coerce')
df['land_square_feet'] = pd.to_numeric(df['land_square_feet'], errors='coerce')
df['gross_square_feet'] = pd.to_numeric(df['gross_square_feet'], errors='coerce')

df.dtypes

index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

# Práctica 15: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario

In [39]:
#Genera el diccionario de datos del dataframe
diccionario = pd.DataFrame({"Nombre de columna": df.columns,
                            "Tipo de dato": [str(df[col].dtype) for col in df.columns]})
#Imprimir el diccionario
print(diccionario)

                 Nombre de columna Tipo de dato
0                      index_miiad       object
1                          borough      float64
2                     neighborhood       object
3          building_class_category       object
4             tax_class_at_present       object
5                            block      float64
6                              lot      float64
7                        ease-ment       object
8        building_class_at_present       object
9                          address       object
10                apartment_number       object
11                        zip_code      float64
12               residential_units      float64
13                commercial_units      float64
14                     total_units      float64
15                land_square_feet      float64
16               gross_square_feet      float64
17                      year_built      float64
18       tax_class_at_time_of_sale      float64
19  building_class_at_time_of_sale       object
20                      sale_price      float64
21                       sale_date       object