<a href="https://colab.research.google.com/github/ismael-almazan/Programaci-n-para-anal-tica-descriptiva-y-predictiva/blob/main/Practica17_263177.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Universidad Autonoma de Ciudad Juarez**

**Maestría en Inteligencia Artificial y Analítica de Datos**

**Programación para Analítica Descriptiva y Predictiva**

**Ismael Almazan Luna**

**12 de septiembre de 2025**

In [6]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd


df = pd.read_csv('/content/drive/MyDrive/ClassFiles/nls97.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Práctica 17: Limpieza y Transformación de Datos Categóricos
El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de limpieza y transformación de datos categóricos.

# Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus

* Imprime de la columna 'maritalstatus' los valores únicos.
* Imprime la frecuencia de cada valor único
*  Cambia el valor 'Never-Married' a 'Single'
*  Imprime la frecuencia de cada valor único.

In [26]:
# Imprime de la columna 'maritalstatus' los valores únicos.
print("Valores unicos de maritalstatus\n", df['maritalstatus'].unique())

# Imprime la frecuencia de cada valor único
print("\nFrequencia de cada valor unico\n", df['maritalstatus'].value_counts())

#Cambia el valor 'Never-Married' a 'Single'. Se uso implace=True para reemplazar en la misma columna la categoria
df["maritalstatus"].replace({"Never-married": "Single"}, inplace=True)

#Imprime la frecuencia de cada valor único.
print("\nFrequencia de cada valor unico\n", df['maritalstatus'].value_counts())

Valores unicos de maritalstatus
 ['Married' 'Single' nan 'Divorced' 'Separated' 'Widowed']

Frequencia de cada valor unico
 maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

Frequencia de cada valor unico
 maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

# Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree.

*  Imprime de la columna 'highestdegrees' los valores únicos.
*  Imprime la frecuencia de cada valor único
*  Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número. Por ejemplo, si dice "2. High School", debería ser 'high school.
*  Los cambios se realizarán en la misma columna 'highestdegrees'.
*  Imprime los nuevos valores únicos.

In [54]:
#df.columns   el nombre de la columna viene como highestdegree

#Imprime de la columna 'highestdegrees' los valores únicos.
print("Valores unicos de highestdegree:\n", df['highestdegree'].unique())

#Imprime la frecuencia de cada valor único
print("\nFrecuencia de highestdegree:\n", df['highestdegree'].value_counts())

#Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número
df['highestdegree'] = df['highestdegree'].str.replace(r'^\[0-9]', '', regex=True) #Elimina el numero que viene al inicio de las categorias
df['highestdegree'] = df['highestdegree'].str.replace(r'^\.', '', regex=True)     #Elimina el punto depues del numero
df['highestdegree'] = df['highestdegree'].str.replace(r'^\s+', '', regex=True)    #Elimina el espacio antes del nombre la categoria
df['highestdegree'] = df['highestdegree'].str.lower()                             #Pone en minuscula todas las categorias

#Imprimir los nuevos valores unicos
print("\nFrecuencia de highestdegree (Valores nuevos):\n", df['highestdegree'].value_counts())

Valores unicos de highestdegree:
 ['high school' 'none' 'bachelors' 'associates' 'masters' 'ged'
 'professional' 'phd' nan]

Frecuencia de highestdegree:
 highestdegree
high school     3667
bachelors       1673
ged             1146
none             953
associates       737
masters          603
professional     120
phd               54
Name: count, dtype: int64

Frecuencia de highestdegree (Valores nuevos):
 highestdegree
high school     3667
bachelors       1673
ged             1146
none             953
associates       737
masters          603
professional     120
phd               54
Name: count, dtype: int64

# Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas

*  De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'. Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.
*  Imprime los valores únicos de la nueva columna 'marital_grouped'.
*  Imprime la frecuencia de los valores únicos de la nueva columna 'marital_grouped'

In [70]:
#df.columns
#df['maritalstatus'].unique()


#De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'.
#Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.
df["marital_grouped"] = df['maritalstatus'].replace(['Widowed', 'Single'], 'Single/No Partner')

#Nuevos valores unicos de la nueva columna marital_grouped
print("Nuevos valores unicos de marital_grouped: \n:",df['marital_grouped'].unique())

#Imprime la frecuencia de los valores unicos de la nueva columna 'marital_grouped'
print("\nFrequencia de los valores únicos de marital_grouped: \n:",df['marital_grouped'].value_counts())

Nuevos valores unicos de marital_grouped:
: ['Married' 'Single/No Partner' nan 'Divorced' 'Separated']

Frequencia de los valores únicos de marital_grouped:
: marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

# Ejercicio 04: Tipos de Datos

*  Imprime el tipo de datos de la columna gender
*  Imprime la cantidad de bytes de dicha columna
*  Si la columna es de tipo object, modifica a category.
*  En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos

In [82]:
#Imprime el tipo de datos de la columna gende
print("Tipo de dato de gener: ",df['gender'].dtype)

#Imprime la cantidad de bytes de dicha columna
print("Cantidad de bytes de gender: ",df['gender'].nbytes)

#Si la columna es de tipo object, modifica a category.
df['gender'] = df['gender'].astype('category')

#En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo
print("Cantidad de bytes de gender NUevo: ",df['gender'].nbytes)

Tipo de dato de gener:  object
Cantidad de bytes de gender:  71872
Cantidad de bytes de gender NUevo:  9000